# Gradle files
.gradle/
build/
gradle/wrapper/gradle-wrapper.jar

# Local configuration
local.properties
.idea/

# Kotlin
*.kotlin_module
.kotlin/

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# Others
.DS_Store
*.iml

# NDK
obj/
*.so